body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
/*    background-image: url('pictures/lightgreen.jpg');*//*appears as bkg outside text*/
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
/*    padding: 40px;  /*distance between the menu bar and the top*/
 /*   max-width: 500px*/
}

.text-right {
    text-align: right;
}

header {
/*    background-image: url('pictures/darkblue.webp');
    background-color: #333;*/
    color: #000;
    padding: 5px 0; /* Add padding to space out the content within the header */
    text-align: center; /* Center align the content in the header */
}


main {
    background-color:rgb(255, 255, 255);
/*    padding: 50px; /*space between the main text and the bottom of the menu bar*/
    max-width: 800px; /* Set a maximum width for the main content */
    margin: 0 auto;
    margin-top: 80px  /*space between the main text and the bottom of the menu bar*/
}


nav {
   padding: 30px; /*distance between the menu bar and the top*/
}

/* Menu with Two Horizontal Rows */

/*
nav {
    background-color: navy; /* Set background color for the nav element 
    padding: 20px; /* Add padding to extend the background color 
    max-width: 800px; /* Set the max width of the menu 
    margin: 0 auto; /* Center the nav element horizontally 
}
*/
nav ul {
/*    background-image: url('pictures/darkblue.webp');*/
    background-color: rgb(0, 108, 169);
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into two rows */
    justify-content: center; /* Centers items horizontally */
    max-width: 800px; /* Optional: Set a max width for the menu */
}

nav ul li {
    flex: 1 1 auto; /* Allows items to grow and shrink equally */
    text-align: center; /* Center align the text in each item */
    padding: 5px 10px; /* Add padding to space out the items,top and bottom, left and right */
    box-sizing: border-box; /* Include padding in the width calculation */
    border-right: 1px solid rgb(224, 224, 224); /*separation bar between menu items*/

}

nav ul li a {
    color: #fff; /* White #000 for black */
    text-decoration: none;
    font-size: 20px;
   /* font-weight: bold;*/
    display: inline-block;
}

/* Mobile Menu Styles */
.mobile-menu {
    display: none;
}

.menu-icon {
    width: 30px;
    height: 30px;
/*    background-image: url('pictures/darkblue.webp');*/
    cursor: pointer;
}

.mobile-menu-list {
    display: none;
    background-color:rgb(0, 108, 169);
  /*  background-image: url('pictures/darkblue.webp');*/
}

.mobile-menu-list li {
    padding: 10px;
}

nav {
    height: 30px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    nav {
        background-color:rgb(0, 108, 169);
       /* background-image: url('pictures/lightgreen.jpg');*/
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu-list {
        display: block;
    }

    nav ul {
        flex-direction: column; /* Stack items vertically on small screens */
        max-width: 100%;
    }

    nav ul li {
        width: 100%; /* Full width for each item on small screens */
    }
}

.caption {
  font-family: "PingFang SC", "Microsoft YaHei", "Heiti SC", "SimSun", "sans-serif";
  font-size: 20px;               /* Adjust the font size */
  color: blue;                   /* Adjust the text color */
  text-align: center;            /* Center the text horizontally */
  display: block;                /* Ensure the element takes up full width */
  margin: 0 auto;                /* Center the element */
}


.linebreak {
  border: none;
  border-top: 1px solid black;  /* Creates a thin horizontal line */
  margin: 10px 0;               /* Adjusts space above and below the line */
  height: 0;                    /* Ensures no extra height */
}


/*from OEBPS*/
/*前言正文、后记正文*/
.preface, .postscript {
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
}

/*目录页*/
.contents {
/*	margin-left:20%;*/
	padding:0px;
	line-height:130%;
	text-align: justify;
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
	list-style-type:none;
}



h1 {
	line-height:100%;
	text-align: justify;
	page-break-before:always;
	font-weight:bold;
	font-size:238.2%;/*xx-large;*/
	font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","zw",sans-serif;
	text-shadow:2px 2px 4px gray;	/*#000000;*/
	/*background-image: url(../Images/backgroundh1.png);
	background-repeat: no-repeat;*/
}

h2 {
	line-height:100%;
	text-align: justify;
	page-break-before:always;
	font-weight:bold;
	font-size:138.2%;/*x-large;*/
	font-family: "h2","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体","微软雅黑","黑体","zw",sans-serif;
	/*text-shadow:2px 2px 4px gray;	/*#000000;*/
	text-shadow: -1px -1px 3px white,1px 1px 3px gray,-1px -1px white,1px 1px black;
	/*text-shadow: -1px -1px 3px #ffb69a,1px 1px 3px #922e09,-1px -1px #ffb69a,1px 1px #922e09; */
	/*text-outline: 2px 2px #ff0000;*/
	/*background-image: url(../Images/backgroundh2.png);
	background-repeat: no-repeat;*/
}

/*副标题*/
.h2sub, .subtitle {
/*	color:palevioletred;*/
	margin: 0;
	line-height:100%;
	text-align: justify;
/*	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;*/
	font-weight:bold;
	font-size:105.6%;/*medium;*/
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
}

h3 {
/*	color:indigo;*/
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:123.6%;/*large;*/
	font-family: "h3","方正华隶_GBK","方正行黑简体","方正行黑繁体","仿宋","仿宋_gb2312","微软雅黑","黑体","zw",sans-serif;
	margin-top:50;
	/*margin-bottom:-0.9em;*/
	text-shadow:2px 2px 4px gray;	/*#000000;*/
}
h4 {
/*	color:gray;*/
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:105.6%;/*medium;*/
	font-family:"ht","幼圆","微软雅黑","黑体","zw",sans-serif;
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.8em;*/
}
h5 {
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:100%;/*small;*/
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.9em;*/
}
h6 {
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:100%;/*x-small;*/
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.9em;*/
}
/*作者*/
.author, .reporter {
/*	color: mediumvioletred;*/
	line-height:130%;
	text-align: justify;
/*	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;*/
	font-size:80%;/*medium;*/
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
}
/*标题2作者*/
.h2author {
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
	color:white;
	font-size:80%;/*10.5pt;*/
	display:block;
}
/*标题3作者*/
.h3author {
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
	/*color:white;*/
	font-size:80%;/*10.5pt;*/
	/*margin-bottom:1.5em;*/
	display:block;
}
/*篇标题块*/
.h1note {
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	font-size:88%;
}
.h1note:first-child {margin-top:1.2em;}
.h1note:last-child {margin-bottom:1.2em;}
/*编者按*/
.editornote {
	margin:0 0 0 4em;
/*	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: lightpink;
	color: darkred;*/
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
	font-size:88%;
	line-height:125%;
}
.editornote:first-child {margin-top:1.2em;}
.editornote:last-child {margin-bottom:1.2em;}
/*标题2注*/
.h2note {
	margin:0 0 0 4em;
/*	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: lightpink;
	color: darkred;*/
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	font-size:88%;
	line-height:125%;
}
.h2note:first-child {margin-top:1.2em;}
.h2note:last-child {margin-bottom:1.2em;}
/*标题3注*/
.h3note {
/*	margin:0 0 0 4em;*/
/*	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: lightpink;
	color: darkred;*/
	font-family:"fs","仿宋","仿宋_gb2312","zw",sans-serif;
	font-size:88%;
}
.h3note:first-child {margin-top:1.2em;}
.h3note:last-child {margin-bottom:1.2em;}

/*for images*/
.picture-container {
    margin-top: 20px
    text-align: center;
    margin: 20px;
}

.picture {
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Maximum width of the image */
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.enlarged-picture {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.enlarged-picture.active {
    display: block;
}

.enlarged-picture img {
    width: 800px; /* Adjust the width as needed */
    cursor: pointer;
}

.image_caption, .lead_image_caption, #storytext figcaption, #storypagemaincol p.slideshow_caption {
    font-family: "Merriweather Sans", Sans-serif;
    font-weight: 600;
    line-height: 17px;
    font-size: 18px;
    display: block;
    caption-side: bottom;
    margin:.1em .5em .7em .1em;
    text-align: center; /* Center text within its container */
}

.red {
    color: red;
}

p {
    margin: 20px 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-img {
    max-width: 90%;
    max-height: 90%;
}

.overlay img {
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.video-container {
    text-align: center; /* Center the video horizontally */
    margin-bottom: 20px
}

.video-container video {
    display: inline-block; /* Ensure the video is treated as an inline block element */
     width: 40%
}

.video-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
}
